.header__lang-link {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.header__lang-link:hover {
  cursor: url("../../../vendor/Cursor/Imported\ Layers\ Copy\ 4.png"), pointer;
}

@media screen and (max-width: 400px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}