.place__title {
  color: #fff;
  max-width: 460px;
  height: auto;
  margin: 0;
  margin-bottom: 48px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  grid-area: title;
}

@media (max-width: 768px) {
  .place__title {
    padding-right: 10px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 320px) {
  .place__title {
    padding-left: 16px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.09;
  }
}