.photo-grid {
  display: grid;
  margin: 92px 48px 0;
  max-width: 1184px;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  gap: 16px;
}

@media (min-width: 1281px) {
  .photo-grid {
    max-width: 92.5%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  }
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin: 88px 24px 0;
    gap: 16px;
  }
}

@media (max-width: 400px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 64px;
    gap: 12px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin: 64px 16px 0;
    gap: 12px;
  }
}