.places {
  margin: 92px 148px 0;
}

@media (min-width: 1281px) {
  .places {
    width: 76.87%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1260px) {
  .places {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (min-width: 1281px) {
  .places {
    margin-left: calc((100% - 76.87%) / 2);
  }
}

@media (max-width: 768px) {
  .places {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 370px) {
  .places {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}