.page__content_wide {
  margin-left: 48px;
  margin-right: 48px;
}

@media (min-width: 1281px) {
  .page__content_wide {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .page__content_wide {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 360px) {
  .page__content_wide {
    margin-left: 16px;
    margin-right: 16px;
  }
}