.header {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .header {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}