.footer__links {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 520px) {
  .footer__links {
    flex-direction: column;
    gap: 31px;
  }
}

@media (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    gap: 31px;
  }
}