.intro__text {
  margin: 0;
  margin-top: 40px;
  max-width: 690px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}