.cover {
  max-width: 1184px;
  height: 740px;
  margin-top: 92px;
  text-align: center;
}

@media (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    max-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 100%;
    height: 480px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-top: 66px;
    max-width: 100%;
    height: 200px;
  }
}