.cover__title {
  color: #fff;
  margin: 0;
  max-width: 560px;
  font-family: "Inter Black", Arial, sans-serif;
  font-size: 72px;
  line-height: 1.06;
  position: relative;  
}

@media (max-width: 520px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}