.footer {
  margin-top: 92px;
  margin-bottom: 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 88px;
  }
}

@media (max-width: 520px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    margin-top: 64px;
  }
}