.footer {
  margin: 92px 48px 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1281px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 92.5%;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 520px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    margin-top: 64px;
  }
}

@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    margin-top: 64px;
    margin-left: 16px;
  }
}